<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Лучшие люди интернета{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}">
        {% endblock %}
        {% block javascripts %}
        <script type="text/javascript" src="{{ asset('js/jquery-2.1.4.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block header %}
        <header>
            <div class="container">
                <div class="page-header">
                    <a href="{{ path('main') }}"><h1>Лучшие люди интернета</h1></a>
                </div>
            </div>
        </header>
        {% endblock %}
        {% block body %}
        {% endblock %}
    </body>
</html>
