{% extends 'base.html.twig' %}


        {% block header %}
            <header>
                <div class="container">
                    <div class="page-header">
                        <a href="{{ path('main') }}"><h1>Лучшие люди интернета</h1></a>
                        <div align="right">
                            {% if is_granted('ROLE_USER') %}
                                <a href={{ path('_logout') }} ><button type="button" class="btn btn-lg btn-primary">Выйти</button></a>
                            {% else %}
                                <a href={{ path('login_form') }} ><button type="button" class="btn btn-lg btn-primary">Войти</button></a>
                                <a href={{ path('registration') }}><button type="button" class="btn btn-lg btn-default">Зарегистрироваться</button></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </header>
        {% endblock %}

{% block body %}
    <div id="user-top" class="container">
    {{ render(controller('AppBundle:Main:top'))}}
    </div>


    <script type="text/javascript">
        function addUp(id) {
            $.ajax({
                url: '{{ path('updateTop') }}',
                data: {id: id,action:'up'},
                type: 'POST',
                dataType: 'json',
                beforeSend: function(){
                    $('#user-top').html('<div align="center"><img class="media-object" src={{ asset('images/ajax-loader.gif') }}></div>');
                },
                success: function(data){
                    $('#user-top').html(data);
                }
            })
        }

        function addDown(id) {
            $.ajax({
                url: '{{ path('updateTop') }}',
                data: {id: id,action:'down'},
                type: 'POST',
                dataType: 'json',
                beforeSend: function(){
                    $('#user-top').html('<div align="center"><img class="media-object" src={{ asset('images/ajax-loader.gif') }}></div>');
                },
                success: function(data){
                    $('#user-top').html(data);
                }
            })
        }


    </script>
{% endblock %}