{% extends 'base.html.twig' %}


        {% block header %}
            <header>
                <div class="container">
                    <div class="page-header">
                        <a href="{{ path('main') }}"><h1>Лучшие люди интернета</h1></a>
                        <div align="right">
                            {% if is_granted('ROLE_USER') %}
                                <a href={{ path('_logout') }} ><button type="button" class="btn btn-lg btn-primary">Выйти</button></a>
                            {% else %}
                                <a href={{ path('login_form') }} ><button type="button" class="btn btn-lg btn-primary">Войти</button></a>
                                <a href={{ path('registration') }}><button type="button" class="btn btn-lg btn-default">Зарегистрироваться</button></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </header>
        {% endblock %}

{% block body %}
    <button type="button" class="btn btn-lg btn-info">Обновить!</button>
    </div>
    <div class="container">
        <div class="list-group">
            {% for user in users %}
            <a href={{ path('userPage', {'id':user.id}) }} class="list-group-item">
            {% if user.avatar is not empty %}
                        <img src="{{ user.avatar.WebPatch }}" align="right" width="50" height="25">
                    {% else %}
                        <img src="{{ asset('images/avatar.png') }}" align="right" width="25" height="50">
                    {% endif %}
                    {% if is_granted("ROLE_USER") %}
                        {% if app.user.username == user.username %}
                            Ю!
                        {% endif %}
                    {% endif %}
                <h4 class="list-group-item-heading">{{ user.username }}</h4>
                <p class="list-group-item-text">{{ user.karma }}
                {% if is_granted("ROLE_USER") and app.user.username != user.username %}
                <div class="btn-group" role="group">
                    <button id="add-down" type="button" class="btn btn-default">-</button>
                    <button id="add-up" type="button" class="btn btn-default">+</button>
                </div>
                {% endif %}
                </p>
            </a>
            {% endfor %}
        </div>
    </div>

    <script type="text/javascript">
    $('#add-up').click(function (){
                    $.ajax({
                        url: '{{ path('updateTop') }}',
                        beforeSend: function(){
                            $('#karma').html('<img class="media-object" src={{ asset('images/ajax-loader.gif') }}>');
                        },
                        success: function(data){

                        }
                    })
                }
        );

    </script>
{% endblock %}