{% extends 'base.html.twig' %}

{% block body %}
    <div id="user-top" class="container">
    {{ render(controller('AppBundle:Main:top'))}}
    </div>


    <script type="text/javascript">
        function addUp(id) {
            $.ajax({
                url: '{{ path('updateTop') }}',
                data: {id: id,action:'up'},
                type: 'POST',
                dataType: 'json',
                beforeSend: function(){
                    $('#user-top').html('<div align="center"><img class="media-object" src={{ asset('images/ajax-loader.gif') }}></div>');
                },
                success: function(data){
                    $('#user-top').html(data);
                }
            })
        }

        function addDown(id) {
            $.ajax({
                url: '{{ path('updateTop') }}',
                data: {id: id,action:'down'},
                type: 'POST',
                dataType: 'json',
                beforeSend: function(){
                    $('#user-top').html('<div align="center"><img class="media-object" src={{ asset('images/ajax-loader.gif') }}></div>');
                },
                success: function(data){
                    $('#user-top').html(data);
                }
            })
        }


    </script>
{% endblock %}