{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
    <div class="page-header">
        <h1>Лучшие люди интернета</h1>
        <div align="right">
            {% if is_granted('ROLE_USER') %}
                <a href={{ path('_logout') }} ><button type="button" class="btn btn-lg btn-primary">Выйти</button></a>
            {% else %}
                <a href={{ path('login_form') }} ><button type="button" class="btn btn-lg btn-primary">Войти</button></a>
                <a href={{ path('registration') }}><button type="button" class="btn btn-lg btn-default">Зарегистрироваться</button></a>
            {% endif %}
        </div>
    </div>
    </div>
    <div class="container">
        <div class="list-group">
            {% for user in users %}
            <a href={{ path('userPage', {'id':user.id}) }} class="list-group-item">
                <h4 class="list-group-item-heading">{{ user.username }}</h4>
                <p class="list-group-item-text">{{ user.karma }}
                    {% if user.avatar is not empty %}
                        <img src="{{ user.avatar.WebPatch }}" align="right" width="50" height="25">
                    {% else %}
                        <img src="{{ asset('images/users/avatar.png') }}" align="right" width="25" height="50">
                    {% endif %}
                </p>
            </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}